In [1]:
import pandas as pd
df_animal = pd.read_csv('data/msleep.csv')
df_animal

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

In [3]:
# msleep.csv verisinde, vore sütunu carni olanların awake sütunundaki en sık değerini bulun.

df_animal[df_animal['vore'] == 'carni']['awake'].agg('mode')

0    11.5
Name: awake, dtype: float64

In [5]:
# SELECT name FROM df_animal WHERE sleep_total IN (SELECT MAX(sleep_total) FROM df_animal);
df_animal[df_animal['sleep_total'] == df_animal['sleep_total'].max()]['name']

42    Little brown bat
Name: name, dtype: object

In [7]:
#SELECT vore, order, AVG(sleep_total) FROM df_animal GROUP BY vore, order ORDER BY AVG(sleep_total) DESC;
df_animal.groupby(['vore','order'])['sleep_total'].mean().sort_values(ascending=False)

vore     order
insecti  Chiroptera         19.800000
carni    Didelphimorphia    19.400000
insecti  Cingulata          18.100000
omni     Didelphimorphia    18.000000
carni    Cingulata          17.400000
omni     Afrosoricida       15.600000
carni    Rodentia           14.500000
herbi    Pilosa             14.400000
         Rodentia           13.356250
omni     Soricomorpha       11.433333
herbi    Diprotodontia      11.100000
carni    Primates           11.000000
omni     Primates           10.550000
carni    Carnivora          10.116667
omni     Erinaceomorpha     10.100000
herbi    Primates            9.500000
omni     Artiodactyla        9.100000
         Scandentia          8.900000
insecti  Monotremata         8.600000
omni     Rodentia            8.500000
insecti  Soricomorpha        8.400000
herbi    Lagomorpha          8.400000
         Hyracoidea          5.800000
carni    Cetacea             4.500000
herbi    Artiodactyla        3.600000
         Proboscidea         3.600000
         Perissodactyla      3.466667
Name: sleep_total, dtype: float64