In [20]:
import pandas as pd
import numpy as np
df_stck = pd.read_feather("data/stack_overflow.feather")
df_stck 
first_code_boot_distn = []
for i in range(5000):
    first_code_boot_distn.append(
        np.mean(
            (df_stck.sample(frac=1, replace=True)
             ['age_first_code_cut'] == 'child').mean()
        )
    )
sample_means = (df_stck['age_first_code_cut'] == 'child').mean()
hyp = 0.35
ss = np.std(first_code_boot_distn, ddof=1)
z_score3 = (sample_means - hyp) / ss
z_score3

3.9769483179024725

In [113]:
import numpy as np

data = [70, 80, 85, 90, 95, 100, 105, 110, 115, 120]  # veri seti
mean_value = np.mean(data)  # Veri setinin ortalamasını hesapla
std_dev = np.std(data)  # Veri setinin standart sapmasını hesapla
hyp = 0.5
z_score = (mean_value - hyp) / std_dev  # Z-skorunu hesaplayın
z_score

6.349233856361771

'adult' ve 'child' grupları arasındaki 'converted_comp' adlı değişkenin ortalamaları arasındaki farkın istatistiksel olarak anlamlı olup olmadığını test et.
h0 = adult grubu ortalamasının child grubu ortalamasından büyüktür.

In [22]:
ort = df_stck.groupby('age_first_code_cut')['converted_comp'].mean()
x1 = ort.iloc[0]
x2 = ort.iloc[1]

age_first_code_cut
adult    111313.311047
child    132419.570621
Name: converted_comp, dtype: float64

In [32]:
ss = df_stck.groupby('age_first_code_cut')['converted_comp'].std()
ss
s1 = ss.iloc[0]
s2= ss.iloc[1]

271546.52172874165

In [34]:
n = df_stck.groupby('age_first_code_cut')['converted_comp'].count()
n1 = n.iloc[0]
n2 = n.iloc[1]

In [38]:
import numpy as np
pay = x2 - x1
payda = np.sqrt((s1**2 / n1) + (s2**2 / n2))
t_stat = pay / payda
t_stat

1.8699313316221844

In [40]:
from scipy.stats import t
degrees_of_freedom = n1 + n2 - 2
p = 1- t.cdf(t_stat, df=degrees_of_freedom)
p

0.030811302165157595

In [42]:
import pandas as pd

df_election = pd.read_feather('data/repub_votes_potus_08_12.feather')
sample_data = df_election.copy()
sample_data['diff'] = sample_data['repub_percent_08'] - sample_data['repub_percent_12']
sample_data

         state       county  repub_percent_08  repub_percent_12       diff
0      Alabama         Hale         38.957877         37.139882   1.817995
1     Arkansas       Nevada         56.726272         58.983452  -2.257179
2   California         Lake         38.896719         39.331367  -0.434648
3   California      Ventura         42.923190         45.250693  -2.327503
4     Colorado      Lincoln         74.522569         73.764757   0.757812
..         ...          ...               ...               ...        ...
95   Wisconsin      Burnett         48.342541         52.437478  -4.094937
96   Wisconsin    La Crosse         37.490904         40.577038  -3.086134
97   Wisconsin    Lafayette         38.104967         41.675050  -3.570083
98     Wyoming       Weston         76.684241         83.983328  -7.299087
99      Alaska  District 34         77.063259         40.789626  36.273633

[100 rows x 5 columns]

2008 ve 2012 verilerinden yaratılan diff sütunu) tek bir örneklem verisi (farklar) üzerinden, “bu ortalama fark sıfır mı?” hipotezi test ediliyor. h0 = 2008 değerinin ort 2012 değerinin ort'ından eşit ya da küçüktür.

In [49]:
import pandas as pd
import numpy as np
df_election = pd.read_feather('data/repub_votes_potus_08_12.feather')
sample_data = df_election.copy()
sample_data['diff'] = sample_data['repub_percent_08'] - sample_data['repub_percent_12']
x = sample_data['diff'].mean()
mu = 0
s = sample_data['diff'].std()
n = sample_data['diff'].count()
payda= np.sqrt( s**2 / n)
pay = x - mu 
t_st = pay / payda
t_st

-5.601043121928489

In [53]:
from scipy.stats import t
deg_of_fre = n - 1
p_d = t.cdf(t_st, df=deg_of_fre)
p_d

9.572537285272413e-08

In [55]:
import pingouin 
pingouin.ttest(sample_data['diff'], y=0, alternative = 'less')

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-5.601043,99,less,9.572537e-08,"[-inf, -2.02]",0.560104,1.323e+05,0.999955

In [ ]:
#H₀: 'job_sat' kategorisindeki grupların 'converted_comp' ortalamaları eşittir.
#Bu test, "job_sat" (iş tatmini) gibi bağımsız bir değişkenin, "converted_comp" (ücret düzeyi) gibi bağımlı değişken üzerindeki etkilerini incelemeye yarar

In [59]:
import pingouin 
pingouin.anova(data=df_stck, dv='converted_comp', between='job_sat')

    Source  ddof1  ddof2         F     p-unc       np2
0  job_sat      4   2256  4.480485  0.001315  0.007882

In [77]:
import pingouin
pingouin.pairwise_tests(data=df_stck , dv="converted_comp" , between = "job_sat" )

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,job_sat,Very dissatisfied,Slightly dissatisfied,False,True,1.129951,247.570187,two-sided,0.259590,0.197,0.119131
1,job_sat,Very dissatisfied,Neither,False,True,0.545948,321.165726,two-sided,0.585481,0.135,0.058537
2,job_sat,Very dissatisfied,Slightly satisfied,False,True,1.243665,187.153329,two-sided,0.215179,0.208,0.145624
3,job_sat,Very dissatisfied,Very satisfied,False,True,-0.747379,221.666205,two-sided,0.455627,0.126,-0.063479
4,job_sat,Slightly dissatisfied,Neither,False,True,-0.602209,367.730081,two-sided,0.547406,0.118,-0.055707
5,job_sat,Slightly dissatisfied,Slightly satisfied,False,True,0.038264,569.926329,two-sided,0.969491,0.074,0.002719
6,job_sat,Slightly dissatisfied,Very satisfied,False,True,-3.076222,821.303063,two-sided,0.002166,7.43,-0.173247
7,job_sat,Neither,Slightly satisfied,False,True,0.700752,258.204546,two-sided,0.484088,0.114,0.068513
8,job_sat,Neither,Very satisfied,False,True,-1.662901,328.326639,two-sided,0.097286,0.337,-0.120115
9,job_sat,Slightly satisfied,Very satisfied,False,True,-4.009935,1478.622799,two-sided,0.000064,158.564,-0.192931

In [75]:
import pingouin
pingouin.pairwise_tests(data=df_stck , dv="converted_comp" , between = "job_sat" , padjust="bonf")

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,job_sat,Very dissatisfied,Slightly dissatisfied,False,True,1.129951,247.570187,two-sided,0.259590,1.000000,bonf,0.197,0.119131
1,job_sat,Very dissatisfied,Neither,False,True,0.545948,321.165726,two-sided,0.585481,1.000000,bonf,0.135,0.058537
2,job_sat,Very dissatisfied,Slightly satisfied,False,True,1.243665,187.153329,two-sided,0.215179,1.000000,bonf,0.208,0.145624
3,job_sat,Very dissatisfied,Very satisfied,False,True,-0.747379,221.666205,two-sided,0.455627,1.000000,bonf,0.126,-0.063479
4,job_sat,Slightly dissatisfied,Neither,False,True,-0.602209,367.730081,two-sided,0.547406,1.000000,bonf,0.118,-0.055707
5,job_sat,Slightly dissatisfied,Slightly satisfied,False,True,0.038264,569.926329,two-sided,0.969491,1.000000,bonf,0.074,0.002719
6,job_sat,Slightly dissatisfied,Very satisfied,False,True,-3.076222,821.303063,two-sided,0.002166,0.021659,bonf,7.43,-0.173247
7,job_sat,Neither,Slightly satisfied,False,True,0.700752,258.204546,two-sided,0.484088,1.000000,bonf,0.114,0.068513
8,job_sat,Neither,Very satisfied,False,True,-1.662901,328.326639,two-sided,0.097286,0.972864,bonf,0.337,-0.120115
9,job_sat,Slightly satisfied,Very satisfied,False,True,-4.009935,1478.622799,two-sided,0.000064,0.000638,bonf,158.564,-0.192931

veri setindeki popülasyondaki kullanıcıların yarısının otuz yaşın altında olduğunu varsayalım ve bir fark olup olmadığını kontrol edelim. Anlamlılık düzeyini 0.01 olarak belirleyelim.
h0 = 0.5

In [79]:
#oran olduğu için proportion test. tek örneklem olduğu için one-sample pro test:

In [81]:
alpha = 0.01
df_stck['age_cat'].value_counts()

age_cat
Under 30       1211
At least 30    1050
Name: count, dtype: int64

In [87]:
p = (df_stck['age_cat'] == 'Under 30').mean()
n= len(df_stck)
p0 = 0.5
pay = p - p0
payda= np.sqrt(p0  * (1 - p0) /  n)
one_s = pay / payda
one_s

3.385911440783663

In [89]:
from scipy.stats import norm
norm.cdf(one_s)

0.999645288631595

In [115]:
from scipy.stats import norm

p_hat = 0.75  # Örneklem oranı
p0 = 0.7  # Popülasyon oranı
n = 200  # Örneklem büyüklüğü

# Standart hata (SE) hesaplanıyor
se = np.sqrt(p0 * (1 - p0) / n)

# Z-skoru hesaplanıyor
z_score = p_hat - p0 / se  # Z-skoru hesaplamak için eksik kısmı tamamlayın

# P-değeri hesaplanıyor
p_value = norm.cdf(z_score)  # P-değeri hesaplamak için eksik kısmı tamamlayın

Stack Overflow anketi bir hobbyist değişkeni içermektedir. "Evet" değeri kullanıcının kendisini hobici olarak tanımladığı, "Hayır" değeri ise kendisini profesyonel olarak tanımladığı anlamına gelmektedir. Hobi sahibi kullanıcıların oranının otuz yaş altı kategorisi ile otuz yaş ve üstü kategorisi için aynı olduğu varsayılabilir, bu da iki kuyruklu bir testtir. Daha açık bir ifadeyle , boş hipotez her bir grup için popülasyon parametreleri arasındaki farkın sıfır olduğudur. Anlamlılık düzeyini 0.05 olarak belirleyelim.  
H0 : p>=30 - p<30 =0  
Ha : ? p>=30- p<30=! 0

In [96]:
z_s = df_stck.groupby('age_cat')['hobbyist'].value_counts(normalize = True)
z_s

age_cat      hobbyist
At least 30  Yes         0.773333
             No          0.226667
Under 30     Yes         0.843105
             No          0.156895
Name: proportion, dtype: float64

In [ ]:
otuz_buyuk = z_s[('At Least 30', 'Yes')]
otuz_kucuk = z_s[('Under 30', 'Yes')]

In [98]:
n = df_stck.groupby('age_cat')['hobbyist'].count()
n

age_cat
At least 30    1050
Under 30       1211
Name: hobbyist, dtype: int64

In [100]:
n31 = n.iloc[0]
n29= n.iloc[1]
n29

1211

job_sat ve age_cat bağımsız mı?

In [105]:
import pingouin
expected, observed, stats = pingouin.chi2_independence(data=df_stck, x='job_sat', y='age_cat')
stats

                 test    lambda      chi2  dof      pval    cramer     power
0             pearson  1.000000  5.552373  4.0  0.235164  0.049555  0.437417
1        cressie-read  0.666667  5.554106  4.0  0.235014  0.049563  0.437545
2      log-likelihood  0.000000  5.558529  4.0  0.234632  0.049583  0.437871
3       freeman-tukey -0.500000  5.562688  4.0  0.234274  0.049601  0.438178
4  mod-log-likelihood -1.000000  5.567570  4.0  0.233854  0.049623  0.438538
5              neyman -2.000000  5.579519  4.0  0.232828  0.049676  0.439419

H₀ (Null Hipotez): Örneklemdeki dağılım, varsayılan (hipotez edilen) dağılımla eşleşmektedir. Yani, örneklemdeki yanıtlar bu varsayılan dağılıma uyar.
Ha (Alternatif Hipotez): Örneklemdeki dağılım, varsayılan (hipotez edilen) dağılımla eşleşmemektedir. Yani, örneklemdeki yanıtlar bu varsayılan dağılıma uymaz.